# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# Build / Output
# =========================
out/
build/
target/

# =========================
# Compiled Java files
# =========================
*.class

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.swp
desktop.ini
*.vscode
*.json